:root {
    --hex-neutral: #a9a9a9;
    --hex-neutral-hover: #7f7f7f;
    --hex-wrong: red;
    --hex-correct: green;
}

body {
    background-image: url("../images/quizTest/WRKMDb7BkD.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

body::before {
    content: "";
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.5;
    height: 100%; 
    z-index: -1;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.main {
    text-align: center;
    margin-bottom: 15px;
}

.main.header-1 {
    font-size: 2rem;
}

.main.header-2 {
    font-size: 1.5rem;
}

.question {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.question-result {
    margin: 5px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    transition: color 0.5s;
}

.question-result.correct {
    color: var(--hex-correct);
}

.question-result.wrong {
    color: var(--hex-wrong);
}

.info-container {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    color: rgb(42, 42, 42);
    font-weight: bold;
}

.btn-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 20px 0;
}

#easy-btn {
    background-color: green;
}

#medium-btn {
    background-color: orange;
}

#hard-btn {
    background-color: red;
}

.btn {
    background-color: var(--hex-neutral);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border-color: var(--hex-neutral);
    transition: background-color 0.5s;
    text-align: center;
    font-size: 1rem;
}

.btn:hover {
    border-color: black;
    background-color: var(--hex-neutral-hover);
}

.btn.correct {
    background-color: var(--hex-correct);
}

.btn.wrong {
    background-color: var(--hex-wrong);
}

.btn.clicked {
    border: solid;
    border-color: black;
    border-width: 3px;
}

.start-btn, .next-btn, .close-btn, .quit-btn, .difficulty-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 7px 12px;
    margin: 0 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-image {
    display: block;
    border-radius: 15px;
    margin: 10px auto 10px auto;
    width: 50%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: auto;
    cursor: pointer;
    box-shadow: 0 0 10px 2px;
}

.full-img-view {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-img {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px;
    margin-bottom: 25px;
}

.hide {
    display: none;
}